$primary-dark-blue: #1f3a54;
$primary-medium-blue: #0080b6;
$primary-light-blue: #01a4e0;
$secondary-green: #60b070;

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;

$navbar-height: 80px;
$content-padding: 20px;
